/* NavbarComponent.css */

.custom-navbar {
  background-color: #24252A; /* Dark background color */
  padding: 15px 30px; /* Adjust padding for better spacing */
  border-bottom-left-radius: 20px; /* Rounded bottom-left corner */
  border-bottom-right-radius: 20px; /* Rounded bottom-right corner */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: adds shadow for depth */
}

.navbar-logo {
  height: 40px; /* Adjust height for logo */
  margin-right: 10px; /* Space between logo and text */
}

.navbar-brand, .nav-link {
  color: #edf0f1; /* Ensure text color is white initially */
}

.nav-link {
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover, .nav-link.active-link {
  color: #0088a9; /* Accent color for active and hover states */
}

.navbar-brand strong {
  color: #edf0f1; /* Consistent text color for the brand name */
}

.navbar-toggle {
  border: none; /* Remove default border */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;base64,..."); /* Customize hamburger icon if needed */
}


.custom-navbar {
  background-color: #24252A;
  padding: 15px 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: adds shadow */
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; /* White background */
  border-radius: 50%; /* Makes the container circular */
  width: 60px; /* Width and height should be equal */
  height: 60px; /* Height and width should be equal for a perfect circle */
  padding: 5px; /* Adjusts the padding around the logo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: adds shadow for better visibility */
  overflow: hidden; /* Hide any overflow */
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem; /* Space between cards */
  max-width: 100%;
  padding: 1rem;
  overflow: hidden; /* Prevent overflow that causes scrolling */
  position: relative; /* Ensure the container manages its z-index context */
}
