/* NavbarComponent.css */

/* General body padding to account for fixed navbar */
body {
  margin: 0;
  padding-top: 80px; /* Adjust based on the height of your navbar */
}

/* Navbar styling */
.custom-navbar {
  background-color: #1f1f1f;
  padding: 20px 40px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.navbar-visible {
  transform: translateY(0);
}

.navbar-hidden {
  transform: translateY(-100%);
}

/* Navbar Logo Container */
.navbar-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.navbar-logo {
  height: 100%;
  width: auto;
}

.navbar-brand strong {
  color: #edf0f1;
  font-size: 1.5rem;
  margin-left: 10px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand strong:hover {
  color: #0088a9;
}

.nav-link {
  color: #edf0f1;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
  margin-left: 1.5rem;
}

.nav-link:hover, .nav-link.active-link {
  color: #00bcd4;
  border-bottom: 2px solid #00bcd4;
  padding-bottom: 4px;
}

/* Style for the navbar toggler button */
.navbar-toggler {
  border: none; /* Remove default border */
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMTIiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjY3VydmU9InJvdW5kIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3BhdGg+Cjwvc3ZnPgo='); /* White hamburger icon */
}

/* Responsive Adjustments */
@media (max-width: 991px) {
  .navbar {
    padding: 15px 20px;
  }

  .nav-link {
    margin-left: 1rem;
  }

  .navbar-brand strong {
    font-size: 1.25rem;
  }
}
