.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Ensure no overflow clipping in the parent container */
.feature-card-container {
  overflow: visible; /* Ensure no clipping of child elements */
}

.flex-container {
  overflow: visible; /* Ensure the container doesn’t clip overflowing elements */
  position: relative;
}
.warning-banner {
  background-color: #f8d7da;
  color: #721c24;
  padding: 16px;
  text-align: center;
  position: fixed; /* Ensure it stays at the top */
  top: 0;
  width: 100%;
  z-index: 1000; /* Set a high z-index so it appears above the navbar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.warning-banner p {
  margin: 0;
  font-size: 16px;
}

.close-btn {
  background: transparent;
  border: none;
  color: #721c24;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
}

.close-btn:hover {
  color: #ff0000;
}